@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
  margin: 0;
  font-family: 'Exo', sans-serif;
  height: 100vh;
}

.logo {
  font-family: 'Rock Salt', cursive;
  font-size: 1rem;
}

.logo img {
  border-radius: 100%;
}

#main {
  height: 80vh;
  overflow: scroll;
}
